In [1]:
import numpy as np 
import pandas as pd 
import nltk
#stopwords are : the is ,an ,witch..
from nltk.corpus import stopwords
import string

In [6]:
data=pd.read_csv('SPAM text message 20170820 - Data.csv')
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
data['Category']=data['Category'].map({'ham':0,'spam':1})
data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [9]:
data.drop_duplicates(inplace=True)

In [10]:
data.isna().sum()

Category    0
Message     0
dtype: int64

In [11]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\lord of
[nltk_data]     music\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [48]:
def process_mail(text):
    nopunctuation=[char for char in text if char not in string.punctuation]
    nopunctuation=''.join(nopunctuation)
    cleanwords=[word for word in nopunctuation.split() if word.lower() not in stopwords.words('english')]
    return cleanwords

In [49]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer(analyzer=process_mail)
X=vectorizer.fit_transform(data['Message'])

In [50]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,data['Category'],test_size=0.2,random_state=0)

In [51]:
from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()
classifier.fit(X_train,y_train)

MultinomialNB()

In [52]:
result=classifier.score(X_test,y_test)
pred=classifier.predict(X_test)

In [53]:
result=result*100

In [54]:
import pickle

In [55]:
pickle.dump(classifier,open("Spam.pkl","wb"))
pickle.dump(vectorizer,open("vectorizer.pkl","wb"))
pickle.dump(process_mail,open("vectorizer.pkl","wb"))

In [67]:
mess="Please, just give me a moment"
vect=vectorizer.transform([mess]).toarray()
result=classifier.predict(vect)
result[0]

0